/* Общий стиль страницы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color: #007BFF;
    color: white;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Основной контейнер */
main {
    width: 90%;
    max-width: 800px;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Формы */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
}

form button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #218838;
}

/* Списки привычек */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    color: #007BFF;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* График */
h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
}

img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 55px;

}
