<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Habit</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Add a New Habit</h1>
    </header>

    <main>
        <form action="/add_habit" method="POST">
            <input type="text" name="habit_name" placeholder="Enter habit name" required>
            <button type="submit">Add Habit</button>
        </form>
    </main>
</body>
</html>
